# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
new_data/
movetrack_data/

# Capacitor
movetrack-app/android/
movetrack-app/ios/
movetrack-app/.capacitor/

# API keys and credentials
**/google-cloud-credentials.json
**/service-account-key.json

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
sendgrid.env
