$primary   : #467599
$secondary : #EE8434
$accent    : #C9F299

$dark      : #191716
$dark-page : #0D1B2A

$positive  : #519872
$negative  : #A5243D
$info      : #BFD7EA
$warning   : #FFBE0B

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300;1,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

$typography-font-family : 'Rubik', 'Oswald', 'Cormorant Unicase', 'Exo 2', sans-serif !default

